.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.turquoise {
    background-color: turquoise;
}
.blue {
    background-color: blue;
}
.purple {
    background-color: purple;
}
.pink {
    background-color: pink;
}
.brown {
    background-color: brown;
}
.black {
    background-color: black;
}
.grey {
    background-color: grey;
}
.white {
    background-color: white;
}