body{
    background: black;
}
.wrapper {
    height: 80vh;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13vh;
}
.canvas-frame {
    height: 100%;
    background: white;
    padding: 0;
}
#canvas {
    position: relative;
    width: 98%;
    height: 100%;
    left: 0;
}
.tools {
    height: 100%;
    padding: 0;
}
.colors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60%;
}
.brushes {
    height: 30%;
    bottom: 10%;
    background-color: bisque;
}
.current-colors {
    display: flex;
    flex-direction: row;
    height: 10%;
    bottom: 0;
    background-color: beige;
}
.current-colors .color {
    display: inline-block;
    width: 50%;
    align-items: stretch;
    flex-grow: 1;
    border: 1px solid white;
}
button.color {
    width: 50%;
    height: 15%;
    align-items: stretch;
    border: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

